* {
  	box-sizing: border-box;
}

.search-bar {
	margin-bottom: 20px;
}

header, body {
	text-align: center;
}

.search {
	width: 400px;
	height: 35px;
	font-size: 18px;
	border-radius: 3px;
	border: 1px solid silver;
	padding-left: 10px;
}

button {
	width: 180px;
	font-size: 18px;
	height: 35px;
	border-radius: 3px;
	border: 2px solid rgb(180,0,0);
	color: black;
	background-color: rgb(240,240,240);
}

button:hover {
	cursor: pointer;
	background-color: white;
	border: 2px solid rgb(255,0,0);
}

.next, .previous {
	text-decoration: none;
	color: black;
	padding: 20px;
}

.next:hover, .previous:hover {
	text-decoration: underline;
}

.update-results {
	padding: 20px;
}

/*.click-genre:hover {
	cursor: pointer;
	text-decoration: underline;
}*/

.search-button {
	width: 100px;
}

.rec-list {
	text-align: left;
}

.rec-section {
	width: 100%;
}

.summary, .genre, .cast, .netflix, .details {
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

.result {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 20%;
}

.row {
	font-size: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
}

.category {
	width: 50%;
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: inline-block;
}

.category-2 {
	width: 33.33%;
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: inline-block;
}

.result-image {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 300px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}
